@model HRManagement.Data.Entities.Personel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<p>@Model.ID</p>
<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.Mail</p>
<p>@Model.Password</p>
<p>@Model.BirthDay</p>
<p>@Model.Role</p>